<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085020735264-4f9p26frdhe6nb17e2kt84dk37g7s1mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085020735264-4f9p26frdhe6nb17e2kt84dk37g7s1mt</string>
	<key>API_KEY</key>
	<string>AIzaSyCf9pt2iX6WGT3Zif4Oq9Jls6CPZDE-JlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1085020735264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectTampa</string>
	<key>PROJECT_ID</key>
	<string>project-tampa-ffb20</string>
	<key>STORAGE_BUCKET</key>
	<string>project-tampa-ffb20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085020735264:ios:b5a11eb54ca18b54b97945</string>
</dict>
</plist>